.DS_Store
node_modules/

output*
stuff/
rasterdir/
vectordir/

blumap/blumap
blumap/net2json
blumap/ranraster
blumap/bayescmd
blumap/vectornodes
blumap/test_statistics
blumap/*.o
blumap/output*
blumap/python_c.pyc

tmp.bin
thirdparty/*
!thirdparty/node_utils.py

blumap/thirdparty_stdout.txt

flowchart/js/jquery-3.1.1.min.js
flowchart/js/jquery-ui-1.12.1/*

compile_blumap.sh
history.log
